@use '../../../scss/' as *;

button {
  cursor: pointer;
  font-family: $font-family;
}

.btn {
  background-color: $primary-color;
  border: none;
  min-width: 6.25rem;
  height: 2.125rem;
  border-radius: 5rem;

  &:hover {
    // background-color: lighten($primary-color, 5%);
    background-color: #ffe302;
  }
}

