@use "../../scss/" as *;


header {
  width: 100%;
  height: 60px;
  background-color: $white;
  @include flex(center, space-between)  
}

.header-wrap {
  @include flex(center, space-between);
  padding: 0 1rem;
}
.buttons {
  & > * ~ * {
    margin-left: 0.625rem;
  }
}