$body-bg: #f8f8f8;
$primary-color: #f4e041;
$secondary-color: #00bdd3;

$white: #fff;
$black: rgba(0, 0, 0, 0.87);
$error: #cb3d40;

$header-height: 60px;

$mobile-width: 360px;
$tablet-width: 768px;
$desktop-width: 1024px;


$font-family: "Nunito", sans-serif;