@use "../../../scss/" as *;

input[type=radio] {
  width: 0;
  visibility: hidden;
}

.custom {
  position: relative;
  padding-left: 2rem;
  margin-bottom: 7px;
  cursor: pointer;
  line-height: 1.625rem;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 1.1875rem;
    height: 1.1875rem;
    border: 1px solid $secondary-color;
    border-radius: 50%;
  }

  input[type=radio]:checked::after {
    content: '';
    position: absolute;
    visibility: visible;
    top: 0.3125rem;
    left: 0.3125rem;
    transform: translate(0.5px, 0.5px);
    width: 0.625rem;
    height: 0.625rem;
    background-color: $secondary-color;
    border-radius: 50%;
  }
}